@font-face {
  font-family: 'pooka_social';
  src: url('fonts/pooka_social.eot?91266153');
  src: url('fonts/pooka_social.eot?91266153#iefix') format('embedded-opentype'),
       url('fonts/pooka_social.woff2?91266153') format('woff2'),
       url('fonts/pooka_social.woff?91266153') format('woff'),
       url('fonts/pooka_social.ttf?91266153') format('truetype'),
       url('fonts/pooka_social.svg?91266153#pooka_social') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "pooka_social";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  margin-left: .2em;
 
  font-size: 140%;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */

.pooka-sss-wrapper {
	clear: both;
	padding: 30px 0;
}
.pooka-sss-wrapper > div {
	margin-right: 5px;
  display: inline-block !important;
  line-height: 44px;
}
.pooka-sss-wrapper .pooka-sss-box {
	display: block;
	height: 40px;
}
.pooka-sss-wrapper .pooka-sss-box {
  margin-top: -5px;
}
.pooka-sss-wrapper .pooka-sss-box a {
  display: inline-block;
	color: #fff;
  background: #000;
  height: 40px;
  width: 40px;
  margin-top: -5px;
}
.pooka-sss-wrapper .pooka-sss-box a:active,
.pooka-sss-wrapper .pooka-sss-box a:focus,
.pooka-sss-wrapper .pooka-sss-box a:hover {
	background: #f7ba44;
  color: #000;
	outline: none;
}
.pooka-sss-wrapper div.share-on {
  font-weight: bold;
  margin-right: 15px;
}
.pooka-sss-wrapper .pooka-sss-box span {
  display: inline-block;
  text-indent: -9999em;
}
.pooka-sss-clear {
	clear: left;
}